*.mpf
*.ini
*.wlf
*.dat
*.log
*.vstf
*.vcd
transcript
vsim.dbg
modelsim.ini
work/
vsim.wlf
*.mti
*.bak
*.svf
*.sdo
*.sdf
*.psm
*.psp
*.psf
*.psx
*.psl
*.psd
*.psa
*.psb
*.psq
*.psr
*.psw
*.psu
*.psv
*.psh
*.psj
*.psk
*.psl
*.psm
*.psn
*.pso
*.psp
*.psq
*.psr
*.pss
*.pst
*.psu
*.psv
*.psw
*.psy
*.psz